---
import Experience from '../components/Experience.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Presentation from '../components/Presentation.astro';
import Projects from '../components/Projects.astro';
import Studies from '../components/Studies.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <Header />
  <main class="flex flex-col gap-10 px-5 justify-center">
    <Presentation />
    <Experience />
    <Projects />
    <Studies />
    <!-- <Certifications /> -->
  </main>
  <Footer />
</Layout>
