---
import Certifications from "../components/Certifications.astro";
import Experience from "../components/Experience.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import AboutMe from "../components/AboutMe.astro";
import Projects from "../components/Projects.astro";
import Studies from "../components/Studies.astro";
import Layout from "../layouts/Layout.astro";
import { linksES } from "../locales/es/header-links";

const description =
  "Desarrollador Web Full Stack. Construyo aplicaciones eficientes y escalables con tecnologías modernas. ¡Conoce mi trabajo!";
---

<Layout
  language="es"
  descriptionPage={description}
  titlePage="Portafolio | Yinner Chilito"
>
  <Header links={linksES} />
  <main class="flex flex-col gap-10 px-5 justify-center">
    <AboutMe />
    <Experience />
    <Projects />
    <Studies />
    <Certifications />
  </main>
  <Footer />
</Layout>
