---
import type { ItemCertificationProps } from './ItemCertification.astro';
import ItemCertification from './ItemCertification.astro';

const certifications: ItemCertificationProps[] = [
  {
    title: 'Patrones de diseño',
    expeditionDate: 'febrero de 2025',
    institution: 'Udemy | DevTalles',
    url: 'https://www.udemy.com/certificate/UC-b896f8ca-5281-4ee0-b2f3-ec426df2011b/',
  },
  {
    title: 'Ciberseguridad',
    expeditionDate: 'octubre de 2024',
    institution: 'Google',
    url: 'https://www.credly.com/badges/9bcd72ba-f5db-4944-b65e-fc8400707cc6/public_url',
  },

  {
    title: 'GitHub Fundations',
    expeditionDate: 'agosto de 2024',
    institution: 'GitHub',
    url: 'https://www.credly.com/badges/850776f6-23e3-46c9-b8c1-6d9702c9717a/linked_in_profile',
  },

  {
    title:
      'Aplicación del marco de trabajo scrum para proyectos de desarrollo de software',
    expeditionDate: 'octubre de 2024',
    institution: 'SENA',
    url: '',
  },
  {
    title: 'Manejo de pruebas de software',
    expeditionDate: 'octubre de 2024',
    institution: 'SENA',
    url: '',
  },
  {
    title: 'Architecture in Cloud Computing',
    expeditionDate: 'mayo de 2024',
    institution: 'Universidad Tecnológica de Pereira',
    url: 'https://www.acreditta.com/credential/c03828c0-1e3b-4a7e-9b75-b46d637117a1',
  },
  {
    title: 'Despliegue de aplicaciones en contenedores Docker',
    expeditionDate: 'diciembre de 2023',
    institution: 'SENA',
    url: '',
  },
  {
    title: 'Data Science e Inteligencia artificial',
    expeditionDate: 'noviembre de 2023',
    institution: 'Universidad de Antioquia',
    url: '',
  },
  {
    title: 'Auditor Interno ISO/IEC 27001:2022',
    expeditionDate: 'octubre de 2023',
    institution: 'ES-CIBER',
    url: '',
  },
  {
    title: 'DS4A / Colombia Fundamentos en Analítica de Datos',
    expeditionDate: 'diciembre de 2022',
    institution: 'Correlation One',
    url: 'https://www.credential.net/72557cc9-950f-49fc-b388-d00fb02d3e1b?record_view=true',
  },
  {
    title: 'Diplomado en Desarrollo de Aplicaciones Web Full Stack',
    expeditionDate: 'diciembre de 2022',
    institution: 'Universidad Tecnológica de Pereira',
    url: '',
  },
];
---

<section id="certifications">
  <h2
    class="flex gap-2 text-3xl items-center pt-32 font-bold underline underline-offset-8 decoration-blue-500 decoration-wavy"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-graduation-cap"
      ><rect width="7" height="7" x="14" y="3" rx="1"></rect><path
        d="M10 21V8a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1H3"
      ></path></svg
    > Formación extracurricular
  </h2>

  <ul class="mt-10 flex flex-wrap gap-4 w-full justify-evenly">
    {certifications.map((item) => <ItemCertification {...item} />)}
  </ul>
</section>
