---
import ItemExperience from './ItemExperience.astro';

export interface ExperienceItem {
  rolName: string;
  companyName: string;
  typeJob: string;
  dateStarted: string;
  dateFinished: string;
  descriptionJob: string;
  functionsJob: string[];
  achievementsJob: string[];
}

const experienceData: ExperienceItem[] = [
  {
    rolName: 'Analista y Desarrollador de Software',
    companyName: 'Abuemarket',
    typeJob:
      'Practicas del Tecnólogo – Certificación mediante desarrollo de Proyecto productivo',
    dateStarted: 'abril 2023',
    dateFinished: 'octubre 2023',
    descriptionJob: `Desarrollo del proyecto Abuemarket System: Solución Integral De Gestión Comercial`,
    functionsJob: [
      'Análisis de requerimientos funcionales del proyecto.',
      'Diseño de interfaz de usuario y arquitectura del sistema de información en estándar UML',
      'Programación del software en lenguaje C# y framework .NET',
      'Diseño, modelado, optimización y construcción de base de datos en SQL Server y despliegue en Azure.',
      'Planificación, diseño y ejecución de pruebas de software.',
      'Despliegue e implementación del software en equipos de cómputo.',
    ],
    achievementsJob: [
      'Mejoramiento en la calidad del servicio',
      'Aumento de la rentabilidad y productividad del negocio',
      'Optimización en el manejo de inventario',
      'Favorecer la fidelidad y negociación con los proveedores',
      'Adaptación a las necesidades y preferencias de los clientes',
    ],
  },
];
---

<div>
  <h2
    id="experience"
    class="flex gap-2 text-3xl items-center pt-32 font-bold underline underline-offset-8 decoration-blue-500 decoration-wavy"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-briefcase-business"
      ><path d="M12 12h.01"></path><path
        d="M16 6V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v2"></path><path
        d="M22 13a18.15 18.15 0 0 1-20 0"></path><rect
        width="20"
        height="14"
        x="2"
        y="6"
        rx="2"></rect></svg
    > Experiencia laboral
  </h2>

  <ul class="mt-5 ml-5 flex flex-col gap-4">
    {experienceData.map((item) => <ItemExperience {...item} />)}
  </ul>
</div>
