<header class="flex gap-5 justify-center py-5 my-4 flex-wrap">
  <a class="font-mono hover:text-blue-500" href="#presentation">Presentación</a>
  <a class="font-mono hover:text-blue-500" href="#experience">Experiencia</a>
  <a class="font-mono hover:text-blue-500" href="#projects">Proyectos</a>
  <a class="font-mono hover:text-blue-500" href="#studies">Estudios</a>
  <a class="font-mono hover:text-blue-500" href="#certifications"
    >Certificaciones</a
  >
</header>
