<div>
  <h2 id="studies" class="flex gap-2 text-3xl items-center pt-32 font-bold">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-graduation-cap"
      ><path
        d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z"
      ></path><path d="M22 10v6"></path><path d="M6 12.5V16a6 3 0 0 0 12 0v-3.5"
      ></path></svg
    > Educación formal
  </h2>

  <ul class="mt-5 ml-5 flex flex-col gap-4">
    <li class="list-disc">
      <h3 class="font-bold text-xl">
        Analista y Desarrollador de Sistemas de Información
      </h3>
      <span class="font-bold block">Tecnólogo</span>
      <span class="font-bold block">Servicio Nacional de Aprendizaje</span>
      <span>15 octubre de 2023</span>
      <p class="my-4">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam minima
        perferendis doloribus magnam? Quod odit veritatis quis voluptate, nam
        aspernatur vero? Debitis vitae veritatis nulla cum vero molestiae quam
        hic?
      </p>
    </li>
    <li class="list-disc">
      <h3 class="font-bold text-xl">
        Analista y Desarrollador de Sistemas de Información
      </h3>
      <span class="font-bold block">Tecnólogo</span>
      <span class="font-bold block">Servicio Nacional de Aprendizaje</span>
      <span>15 octubre de 2023</span>
      <p class="my-4">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam minima
        perferendis doloribus magnam? Quod odit veritatis quis voluptate, nam
        aspernatur vero? Debitis vitae veritatis nulla cum vero molestiae quam
        hic?
      </p>
    </li>
    <li class="list-disc">
      <h3 class="font-bold text-xl">
        Analista y Desarrollador de Sistemas de Información
      </h3>
      <span class="font-bold block">Tecnólogo</span>
      <span class="font-bold block">Servicio Nacional de Aprendizaje</span>
      <span>15 octubre de 2023</span>
      <p class="my-4">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam minima
        perferendis doloribus magnam? Quod odit veritatis quis voluptate, nam
        aspernatur vero? Debitis vitae veritatis nulla cum vero molestiae quam
        hic?
      </p>
    </li>
    <li class="list-disc">
      <h3 class="font-bold text-xl">
        Analista y Desarrollador de Sistemas de Información
      </h3>
      <span class="font-bold block">Tecnólogo</span>
      <span class="font-bold block">Servicio Nacional de Aprendizaje</span>
      <span>15 octubre de 2023</span>
      <p class="my-4">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam minima
        perferendis doloribus magnam? Quod odit veritatis quis voluptate, nam
        aspernatur vero? Debitis vitae veritatis nulla cum vero molestiae quam
        hic?
      </p>
    </li>
    <li class="list-disc">
      <h3 class="font-bold text-xl">
        Analista y Desarrollador de Sistemas de Información
      </h3>
      <span class="font-bold block">Tecnólogo</span>
      <span class="font-bold block">Servicio Nacional de Aprendizaje</span>
      <span>15 octubre de 2023</span>
      <p class="my-4">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam minima
        perferendis doloribus magnam? Quod odit veritatis quis voluptate, nam
        aspernatur vero? Debitis vitae veritatis nulla cum vero molestiae quam
        hic?
      </p>
    </li>
  </ul>
</div>
