---
import '../styles/global.css';
import '@fontsource/onest';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/code-xml.svg" />
    <title>Portafolio | Yinner Chilito</title>
    <meta
      name="description"
      content="Desarrollador Web Full Stack. Construyo aplicaciones eficientes y escalables con tecnologías modernas. ¡Conoce mi trabajo!"
    />

    <meta
      name="keywords"
      content="Yinner, Chilito, Developer, FullStack, Web, Portafolio, Software, Frontend, Backend"
    />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      property="og:image"
      content="/foto-perfil.webp"
    />
    <meta
      name="twitter:image"
      content="/foto-perfil.webp"
    />
  </head>
  <body
    class="lg:w-3/5 h-fit mx-auto bg-gradient-to-b from-slate-900 to-slate-950 text-slate-200 flex justify-center flex-col tracking-wider items-center"
  >
    <slot />
  </body>
</html>
